@model ElysionOrder.Application.Services.Dtos.BillDto

@{
    ViewData["Title"] = "Gelen Fatura Detay";
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/src/plugins/src/table/datatable/datatables.css">

    <link rel="stylesheet" type="text/css" href="~/src/plugins/css/light/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/css/light/table/datatable/custom_dt_miscellaneous.css">

    <link rel="stylesheet" type="text/css" href="~/src/plugins/css/dark/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/css/dark/table/datatable/custom_dt_miscellaneous.css">

    <!-- END PAGE LEVEL STYLES -->
}

<div class="middle-content container-xxl p-0">


    <!--  BEGIN BREADCRUMBS  -->
    <div class="secondary-nav">
        <div class="breadcrumbs-container" data-page-heading="Analytics">
            <header class="header navbar navbar-expand-sm">
                <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </a>
                <div class="d-flex breadcrumb-content">
                    <div class="page-header">

                        <div class="page-title">
                        </div>

                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a> Stok Giriş</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Onay</li>
                            </ol>
                        </nav>

                    </div>
                </div>

            </header>
        </div>
    </div>
    <!--  END BREADCRUMBS  -->


    <div class="row invoice layout-top-spacing layout-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="doc-container">

                <div class="row">

                    <div class="col-xl-9">

                        <div class="invoice-container">
                            <div class="invoice-inbox">

                                <div id="ct" class="">

                                    <div class="invoice-00001">
                                        <div class="content-section">

                                            <div class="inv--head-section inv--detail-section">

                                                <div class="row">

                                                    <div class="col-sm-6 col-12 mr-auto">
                                                        <div class="d-flex">

                                                            <h4 class="in-heading align-self-center">Geldiği Yer : @Model.InvoicerDto.Name</h4>
                                                        </div>
                                                        <p class="inv-street-addr mt-3">Günü :  @Model.BillDate</p>

                                                    </div>


                                                </div>

                                            </div>

                                            <div class="inv--detail-section inv--customer-detail-section">
                                            </div>

                                            <div class="inv--product-table-section">
                                                <div class="table-responsive">
                                                    <p>Eklenen Kalemler</p>
                                                    <table class="table">
                                                        <thead class="">
                                                            <tr>
                                                                <th scope="col">Ürün</th>
                                                                <th scope="col">Adet</th>
                                                              

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model != null)
                                                            {
                                                                if (Model.BillItems != null)
                                                                {
                                                                    foreach (var item in Model.BillItems)
                                                                    {

                                                                        <tr>
                                                                            <td>@item.ProductDto.Name</td>
                                                                            <td>@item.Piece</td>
                                                                           

                                                                        </tr>
                                                                    }

                                                                }

                                                            }


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                         

                                      

                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="col-xl-3">

                        <div class="invoice-actions-btn">

                            <div class="invoice-action-btn">

                                <div class="row">
                                    <div class="col-xl-12 col-md-3 col-sm-6">
                                        @using (Html.BeginForm("BillDone", "Stock"))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-horizontal">


                                                <div class="form-group">
                                                    <div class="widget-header">
                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h5>Id</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-10">

                                                        @Html.EditorFor(model=>model.Id, new { htmlAttributes = new {   @class = "form-control flatpickr flatpickr-input active", required = "required", disabled = "true"} })
                                                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                                        @Html.HiddenFor(model => model.Id)
                                                    </div>
                                                </div>
                                                <br />


                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" value="Onayla" class="btn btn-success" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <br />
                                   
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>



</div>



