@model ElysionOrder.Application.Services.Dtos.StockDto

@{
    ViewData["Title"] = "Stok Düzenleme";


}



<div class="middle-content container-xxl p-0">

    <!--  BEGIN BREADCRUMBS  -->
    <div class="secondary-nav">
        <div class="breadcrumbs-container" data-page-heading="Analytics">
            <header class="header navbar navbar-expand-sm">
                <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </a>
                <div class="d-flex breadcrumb-content">
                    <div class="page-header">

                        <div class="page-title">
                        </div>

                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Stock/EditStock">Stoklar</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Düzenleme</li>
                            </ol>
                        </nav>

                    </div>
                </div>

            </header>
        </div>
    </div>
    <!--  END BREADCRUMBS  -->



    <div class="seperator-header layout-top-spacing">
        <h4 class="">Stok Düzenleme</h4>


    </div>

    @using (Html.BeginForm("EditStock", "Stock"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h5>Adet</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                </div>
            </div>

          

            <br />


            <div class="form-group">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h5>Ürün</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("ProductId", new SelectList(ViewBag.Products, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-lg" })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h5>Depo</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("StoreId", new SelectList(ViewBag.Stores, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-lg" })
                    @Html.ValidationMessageFor(model => model.StoreId, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h5>Ürün Alım Tarihi</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">

                    @Html.EditorFor(model=>model.DateOfEntry, new { htmlAttributes = new {   @class = "form-control flatpickr flatpickr-input active", required = "required" } })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h5>Ürün Alım Fiyatı</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">

                    @Html.EditorFor(model=>model.BuyedPrice, new { htmlAttributes = new {   @class = "form-control flatpickr flatpickr-input active", required = "required" } })
                    @Html.ValidationMessageFor(model => model.BuyedPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Stoklar", "Index","Stocks")
    </div>

</div>

