@model ElysionOrder.Application.Services.Dtos.SalesDto

@{
    ViewData["Title"] = "Adım İlerlet";


}



<div class="middle-content container-xxl p-0">

    <!--  BEGIN BREADCRUMBS  -->
    <div class="secondary-nav">
        <div class="breadcrumbs-container" data-page-heading="Analytics">
            <header class="header navbar navbar-expand-sm">
                <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </a>
                <div class="d-flex breadcrumb-content">
                    <div class="page-header">

                        <div class="page-title">
                        </div>

                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Sales/Action"> Satışlar</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Adım</li>
                            </ol>
                        </nav>

                    </div>
                </div>

            </header>
        </div>
    </div>
    <!--  END BREADCRUMBS  -->



    <div class="seperator-header layout-top-spacing">
        <h4 class=""> Adım İlerlet</h4>


    </div>

    

       

       
            <div class="form-group">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h5>Mevcut Durum</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SalesStatusDto.Name, new { htmlAttributes = new { @class = "form-control",disabled = "true" } })
                    @Html.ValidationMessageFor(model => model.SalesStatusId, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x=>x.Id)
                </div>
            </div>
            <br />

            @using (Html.BeginForm("NextStepSales", "Sales"))
    {
       

              <div class="form-horizontal">


            <div class="form-group">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h5>Sonraki Adım</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NextSalesStatusDto.Name, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                    @Html.ValidationMessageFor(model => model.NextSalesStatusDto.Name, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x=>x.Id)
                </div>
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="İlerlet" class="btn btn-secondary mb-2 me-4" />
                </div>
            </div>
        </div>
    }


            <br />

            
            
           @using (Html.BeginForm("BackStepSales", "Sales"))
    {
     

        <div class="form-horizontal">

           
            <div class="form-group">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h5>Önceki Adım</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BackSalesStatusDto.Name, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                    @Html.ValidationMessageFor(model => model.BackSalesStatusDto.Name, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x=>x.Id)
                </div>
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Geri Al" class="btn btn-warning mb-2 me-4" />
                </div>
            </div>
        </div>
    }

          



           
        
  
    <br />
   

</div>

