@model ElysionOrder.Application.Services.Dtos.OrderDto


<div class="seperator-header layout-top-spacing">
    <h4 class=""> Ürün Ekle</h4>
    <br />
    @using (Html.BeginForm("AddOrder", "Sales"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @if (ViewBag.Stok!=null)
            {
                <h5 style="color:red">@ViewBag.Stok</h5>
            }

            <div class="form-group">
                <div class="widget-header">
                    <div class="row">

                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <br/>
                            <p> Bu alanda ürün ekleyebilirsiniz.</p>
                            <p> Eklediğiniz ürün yukardaki tabloda gösterilecektir.</p>
                            <p> İskonto oranına girdiğiniz değer oranında indirim yapılır, özel fiyat alanına girdiğiniz değer ürün fiyatı olarak eklenir.</p>

                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-10">
                    @Html.Hidden("SalesId")
                   
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h6>Fiyat Listesi</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("ProductId", new SelectList(ViewBag.Products, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-lg" })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="widget-header">
                    <div class="row">

                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">

                            <h6>Adet</h6>

                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-10">
                    @Html.EditorFor(model=>model.Piece,"", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model=>model.Piece, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />


                  

                 <div class="form-group">
                <div class="widget-header">
                    <div class="row">

                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">

                            <h6>İskonto Oranı</h6>

                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-10">
                    @Html.EditorFor(model=>model.Discount,"", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model=>model.Discount, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />


            <div class="form-group">
                <div class="widget-header">
                    <div class="row">

                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">

                            <h6>Özel Fiyat</h6>

                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-10">
                    @Html.EditorFor(model=>model.SpecialPrice,"", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model=>model.SpecialPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Ekle" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    <br />


</div>